<div class="container my-5">
  <div class="text-center">
    <h1 class="mb-3">Edit Cocktail</h1>
      <h2>Ingredient:</h2>
      <% @cocktail.doses.each do |dose| %>
      <div class="row justify-content-center">
        <p><%= dose.description %> | <%= dose.ingredient.name %></p>
        <%= link_to dose_path(dose), method: :delete do %>
         <p><i class="far fa-trash-alt ml-3 text-danger"></i></p>
        <% end %>
        </div>
      <% end %>
      <%= link_to new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-dark mr-3' do %>
        <p class="mb-0"> <i class="far fa-plus-square mr-2"></i> New Ingredient </p>
      <% end %>
    </div>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Edit Cocktail", class: "btn btn-primary"%>
    <% end %>
</div>

