<div class="container mt-5 mb-5">
  <div class="text-center">
    <% if @cocktail.photo.file %>
        <%= cl_image_tag @cocktail.photo, height: 300, width: 300, radius: :max, crop: :fill, format: :png %>
      <% else %>
      <%= image_tag "https://dystonia-foundation.org/wp-content/uploads/woocommerce-placeholder.png", alt: "placeholder", class: "rounded-circle", width: 300, height: 300 %>
    <% end %>
    <h1 class="mt-2"><%= @cocktail.name %></h1>
    <h2>Ingredient:</h2>
    <% @cocktail.doses.each do |dose| %>
        <p><%= dose.description %> | <%= dose.ingredient.name %></p>
      <% end %>
    <%= link_to edit_cocktail_path, class: 'btn btn-outline-dark mr-3' do %>
    <p class="mb-0"> <i class="far fa-edit"></i> edit </p>
    <% end %>
      <%= link_to cocktail_path(@cocktail), method: :delete, class: 'btn btn-danger' do %>
        <p class="mb-0"> <i class="far fa-trash-alt"></i> delete</p>
      <% end %>
  </div>
</div>

