<div class="container my-5">
  <div class="text-center">
    <h1>Put your dose</h1>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 300, radius: :max, crop: :fill, format: :png %>
</div>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient,  collection: Ingredient.order(:name) %>
    <%= f.submit "Edit Dose", class: "btn btn-primary" %>
  <% end %>
</div>
